# if not master, it will serve as remote actor provider.
node-type="master"

hipchat-username="12345_678901"
hipchat-password="YourPassWord"
hipchat-nickname="YourNickName"

hipchat-auth-token="HipChatAdminToken"

powerups = [
  {
    "class": "cc.hypo.golem.bot.powerup.Echo",
    "actorName": "echo"
  }
]

hipchat-rooms=[
  {
    "room":"12345_roomname",
    "handler":"/user/*"
  }
]